<h4>Lista de tareas</h4>

<p-card
  *ngFor="let task of tasksList"
  class="m-2"
>
<div class="grid">
  <!--Completar task-->
  <input
    [(ngModel)]="task.completado"
    type="checkbox"
    id="checkbox"
    (click)="onCompleteTask(task.id)"
    class="col"
  />
  <span class="col">{{ task.nombre }}</span>
  <!--Botón borrar-->
  <p-button
    icon="pi pi-times"
    [rounded]="true"
    severity="danger"
    (click)="onDeleteTask(task.id)"
    class="col"
  ></p-button>
  <!--Botón editar que lleva a la vista /editTask pasando el ID-->
  <p-button
    icon="pi pi-pencil"
    [routerLink]="['/editTask', task.id]"
    class="col"
    ></p-button>
</div>
</p-card>

