<h4>Lista de tareas</h4>

<p-card
  *ngFor="let task of tasksList"
  class="m-2"
>
<div class="grid">
  <!--Completar task-->
  <input
    [(ngModel)]="task.completado"
    type="checkbox"
    id="checkbox"
    (click)="onCompleteTask(task.id)"
    [ngClass]="{'green-400': task.completado}"
    class="col"
  />
  <span class="col">{{ task.nombre }}</span>
  <!--Botón borrar-->
  <p-button
    icon="pi pi-times"
    [rounded]="true"
    severity="danger"
    (click)="confirmDeletion($event, task.id)"
    class="col"
  ></p-button>
  <!--Mensaje de aviso de tarea eliminada-->
  <p-toast key="dt"></p-toast>
  <!--Dialogo de confirmación para eliminar tarea-->
  <p-confirmDialog key="cd"></p-confirmDialog>
  <!--Botón editar que lleva a la vista /editTask pasando el ID-->
  <p-button
    icon="pi pi-pencil"
    (click)="redirectToEditTask(task)"
    class="col"
    ></p-button>
    <!--Mensaje de aviso de que una tarea está completada y no se puede editar-->
    <p-toast position="top-center" key="tc"></p-toast>
</div>
</p-card>

