<h2 class="grid m-5 justify-content-center">Editar tarea</h2>
<div class="grid justify-content-center">
  <p-card class="m-2">
   <div class="col">
      <form [formGroup]="validationService.myForm" (ngSubmit)="emitEditedTask(taskId)" >
      
        <input type="text" pInputText formControlName="nombre" placeholder="Nuevo nombre" />
      
        <!--Mensaje de confirmación de cambios realizados-->
        <p-toast position="top-center" key="tc"></p-toast>
      
        <!--Botón de guardar edición-->
        <p-button type="submit" label="Guardar" class="m-2"></p-button>
      
        <!--Mensaje de error de validación-->
        <div *ngIf="validationService.isValidField('nombre')" class="error-message">
          {{ validationService.getFieldError('nombre') }}
        </div>
    
      </form>
    </div>
  </p-card>
</div>
